.card {
  position: relative;
  background-color: var(--white);
  padding-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 20px !important;
  color: blue;
}
.card-txt {
  padding: 10px 20px;
}
